
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    background-color: #F5F8FF;
}

*{margin: 0;}

   /* Header */
header{
    background-image: url(Assets/Hero-bg.png);
    max-width: 1920px;
    height: 700px;
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    
}
.inter-normal{
    font-weight: 900;
    color: #4E47FF;
}
span{
    color: tomato;
}
.hero{
    text-align: center;
    font-size: 65px;
    font-weight: bold;
    padding: 90px;
}
button{
    padding: 10px 30px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: white;
    border: none;
}
.stayfocus{
    margin: 30px;
}
button:hover{
    background-color: rgba(23, 12, 180, 0.466);
}
     /* Action */
.div1 h1,p{
    margin-bottom: 20px;
}  
#buttonmgtop{
    margin-top: 20px;
}   
.subtitle{
    color: gray;
}
.seeaction{
    font-weight: bold;
    font-size: 42px;
}
.explore{
    font-size: 26;
}
.wcmini{
    border-radius: 12px;
}
.hero-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
        /* Thousands productive */
.section2{
    background-color: #4d47ff2f;
    border-radius: 12px;
    margin: 40px 400px;
    width: 1140px;
    height: 306px;
    padding-top: 100px;
}
.thousands{
    text-align: center;
    font-weight: bold;
    font-size: 38px;
}
.div3{
    display: flex;
    justify-content: space-evenly;
}
.big{
    font-weight: bold;
    font-size: 80px;
}
        /* Users */
.user{
    font-weight: bold;
    font-size: 42px;
    text-align: center;
}
.avatar{
    display: flex;
}
.userdiv{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 400px;
}
.bgdiv{
    background-color: rgb(255, 255, 255);
    padding: 30px;
    border-radius: 12px;
}
.bgdiv h3,p{
    margin-bottom: 10px;
}
.avatar img{
    border-radius: 100%;
    margin-right: 10px;
}
        /* Footer */
footer{
    text-align: center;
}
.myassin2{
    font-size: 70px;
    font-weight: bolder;
    color: #4E47FF;
}
.footerul{
    display: flex;
    justify-content: space-between;
    padding: 40px  750px;
}
a{
    text-decoration: none;
}
li{
    list-style-type: none;
}